<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="PayU\PaymentGateway\Api\PayUConfigInterface" type="PayU\PaymentGateway\Model\Config" />
    <preference for="PayU\PaymentGateway\Api\PayUGetPayMethodsInterface" type="PayU\PaymentGateway\Model\GetPayMethods" />
    <preference for="PayU\PaymentGateway\Api\PayUGetUserPayMethodsInterface" type="PayU\PaymentGateway\Model\GetUserPayMethods" />
    <preference for="PayU\PaymentGateway\Api\PayUCacheConfigInterface" type="PayU\PaymentGateway\Model\CacheConfig" />
    <preference for="PayU\PaymentGateway\Api\PayUGetCreditCardSecureFormConfigInterface" type="PayU\PaymentGateway\Model\GetCreditCardSecureFormConfig" />
    <preference for="PayU\PaymentGateway\Api\PayUGetCreditCardCVVWidgetConfigInterface" type="PayU\PaymentGateway\Model\GetCreditCardCVVWidgetConfig" />
    <preference for="PayU\PaymentGateway\Api\GetAvailableLocaleInterface" type="PayU\PaymentGateway\Model\GetAvailableLocale" />
    <preference for="PayU\PaymentGateway\Api\PayURepayOrderInterface" type="PayU\PaymentGateway\Model\RepayOrder" />
    <preference for="PayU\PaymentGateway\Api\AcceptOrderPaymentInterface" type="PayU\PaymentGateway\Model\AcceptOrderPayment" />
    <preference for="PayU\PaymentGateway\Api\CancelOrderPaymentInterface" type="PayU\PaymentGateway\Model\CancelOrderPayment" />
    <preference for="PayU\PaymentGateway\Api\WaitingOrderPaymentInterface" type="PayU\PaymentGateway\Model\WaitingOrderPayment" />
    <preference for="PayU\PaymentGateway\Api\ReviewOrderPaymentInterface" type="PayU\PaymentGateway\Model\ReviewOrderPayment" />
    <preference for="PayU\PaymentGateway\Api\PayUUpdateOrderStatusInterface" type="PayU\PaymentGateway\Model\UpdateOrderStatus" />
    <preference for="PayU\PaymentGateway\Api\PayUUpdateRefundStatusInterface" type="PayU\PaymentGateway\Model\UpdateRefundStatus" />
    <preference for="PayU\PaymentGateway\Api\PayUDeleteUserTokenInterface" type="PayU\PaymentGateway\Model\DeleteUserToken" />
    <preference for="PayU\PaymentGateway\Api\RepaymentResolverInterface" type="PayU\PaymentGateway\Model\RepaymentResolver" />
    <preference for="PayU\PaymentGateway\Api\OrderByExtOrderIdResolverInterface" type="PayU\PaymentGateway\Model\OrderByExtOrderIdResolver" />
    <preference for="PayU\PaymentGateway\Api\OrderPaymentResolverInterface" type="PayU\PaymentGateway\Model\OrderPaymentResolver" />

    <virtualType name="PayUPaymentGatewayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">PayU\PaymentGateway\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayUPaymentGatewayCardConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">PayU\PaymentGateway\Model\Ui\CardConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- PBL -->
    <virtualType name="PayUPaymentGatewayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">PayU\PaymentGateway\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">PayUPaymentGatewayInfoBlock</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayUPaymentGatewayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">PayUPaymentGatewayCommandPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayUPaymentGatewayInfoBlock" type="Magento\Payment\Block\ConfigurableInfo">
        <arguments>
            <argument name="config" xsi:type="object">PayUPaymentGatewayConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayUPaymentGatewayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayUPaymentGatewayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PayUPaymentGatewayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PayUPaymentGatewayConfig</argument>
        </arguments>
    </virtualType>

    <!-- PBL Command pools -->
    <virtualType name="PayUPaymentGatewayCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">PayUPaymentGatewayAuthorizeCommand</item>
                <item name="capture" xsi:type="string">PayUPaymentGatewayCaptureCommand</item>
                <item name="refund" xsi:type="string">PayUPaymentGatewayRefundCommand</item>
                <item name="repay" xsi:type="string">PayUPaymentGatewayRepayCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PayUPaymentGatewayAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PayUPaymentGatewayAuthorizationRequest</argument>
            <argument name="transferFactory" xsi:type="object">PayU\PaymentGateway\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">PayU\PaymentGateway\Gateway\Http\Client\PayUCreateOrder</argument>
            <argument name="validator" xsi:type="object">PayU\PaymentGateway\Gateway\Validator\Order\ResponseCreatePblValidator</argument>
            <argument name="handler" xsi:type="object">PayU\PaymentGateway\Gateway\Response\OrderCreateResponseHandler</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayUPaymentGatewayRepayCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PayUPaymentGatewayRepayRequest</argument>
            <argument name="transferFactory" xsi:type="object">PayU\PaymentGateway\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">PayU\PaymentGateway\Gateway\Http\Client\PayUCreateOrder</argument>
            <argument name="validator" xsi:type="object">PayU\PaymentGateway\Gateway\Validator\Order\ResponseCreatePblValidator</argument>
            <argument name="handler" xsi:type="object">PayU\PaymentGateway\Gateway\Response\RepayOrderCreateResponseHandler</argument>
        </arguments>
    </virtualType>

    <!-- CARD -->
    <virtualType name="PayUPaymentGatewayCardFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\PayU\PaymentGateway\Model\Ui\CardConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">PayUPaymentGatewayCardInfoBlock</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayUPaymentGatewayCardValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">PayUPaymentGatewayCardCommandPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayUPaymentGatewayCardInfoBlock" type="Magento\Payment\Block\ConfigurableInfo">
        <arguments>
            <argument name="config" xsi:type="object">PayUPaymentGatewayCardConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayUPaymentGatewayCardValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayUPaymentGatewayCardConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PayUPaymentGatewayCardConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PayUPaymentGatewayCardConfig</argument>
        </arguments>
    </virtualType>

    <!-- Card Command pools -->
    <virtualType name="PayUPaymentGatewayCardCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">PayUPaymentGatewayCardAuthorizeCommand</item>
                <item name="capture" xsi:type="string">PayUPaymentGatewayCaptureCommand</item>
                <item name="refund" xsi:type="string">PayUPaymentGatewayRefundCommand</item>
                <item name="repay" xsi:type="string">PayUPaymentGatewayCardRepayCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PayUPaymentGatewayCardAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PayUPaymentGatewayAuthorizationRequest</argument>
            <argument name="transferFactory" xsi:type="object">PayU\PaymentGateway\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">PayU\PaymentGateway\Gateway\Http\Client\PayUCreateOrder</argument>
            <argument name="validator" xsi:type="object">PayU\PaymentGateway\Gateway\Validator\Order\ResponseCreateCardValidator</argument>
            <argument name="handler" xsi:type="object">PayU\PaymentGateway\Gateway\Response\OrderCreateResponseHandler</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayUPaymentGatewayCardRepayCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PayUPaymentGatewayRepayRequest</argument>
            <argument name="transferFactory" xsi:type="object">PayU\PaymentGateway\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">PayU\PaymentGateway\Gateway\Http\Client\PayUCreateOrder</argument>
            <argument name="validator" xsi:type="object">PayU\PaymentGateway\Gateway\Validator\Order\ResponseCreateCardValidator</argument>
            <argument name="handler" xsi:type="object">PayU\PaymentGateway\Gateway\Response\RepayOrderCreateResponseHandler</argument>
        </arguments>
    </virtualType>

    <!-- Common  -->
    <virtualType name="PayUPaymentGatewayCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PayUPaymentGatewayCaptureRequest</argument>
            <argument name="transferFactory" xsi:type="object">PayU\PaymentGateway\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">PayU\PaymentGateway\Gateway\Http\Client\PayUGetOrder</argument>
            <argument name="validator" xsi:type="object">PayU\PaymentGateway\Gateway\Validator\Order\ResponseGetValidator</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayUPaymentGatewayCaptureRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="capture" xsi:type="string">PayU\PaymentGateway\Gateway\Request\CaptureRequestBuilder</item>
                <item name="clientConfig" xsi:type="string">PayU\PaymentGateway\Gateway\Request\ClientConfigDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PayUPaymentGatewayRefundCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PayUPaymentGatewayRefundRequest</argument>
            <argument name="transferFactory" xsi:type="object">PayU\PaymentGateway\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">PayU\PaymentGateway\Gateway\Http\Client\PayURefundOrder</argument>
            <argument name="validator" xsi:type="object">PayU\PaymentGateway\Gateway\Validator\Order\ResponseRefundValidator</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayUPaymentGatewayRefundRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="capture" xsi:type="string">PayU\PaymentGateway\Gateway\Request\RefundRequestBuilder</item>
                <item name="clientConfig" xsi:type="string">PayU\PaymentGateway\Gateway\Request\ClientConfigDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>


    <virtualType name="PayUPaymentGatewayAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="order" xsi:type="string">PayU\PaymentGateway\Gateway\Request\OrderDataBuilder</item>
                <item name="amountCurrency" xsi:type="string">PayU\PaymentGateway\Gateway\Request\AmountCurrencyDataBuilder</item>
                <item name="merchantId" xsi:type="string">PayU\PaymentGateway\Gateway\Request\MerchantIdDataBuilder</item>
                <item name="payMethods" xsi:type="string">PayU\PaymentGateway\Gateway\Request\PayMethodsDataBuilder</item>
                <item name="buyer" xsi:type="string">PayU\PaymentGateway\Gateway\Request\BuyerDataBuilder</item>
                <item name="products" xsi:type="string">PayU\PaymentGateway\Gateway\Request\ProductsDataBuilder</item>
                <item name="threeDsAuthentication" xsi:type="string">PayU\PaymentGateway\Gateway\Request\ThreeDsAuthenticationDataBuilder</item>
                <item name="clientConfig" xsi:type="string">PayU\PaymentGateway\Gateway\Request\ClientConfigDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PayUPaymentGatewayRepayRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="order" xsi:type="string">PayU\PaymentGateway\Gateway\Request\RepayOrderDataBuilder</item>
                <item name="amountCurrency" xsi:type="string">PayU\PaymentGateway\Gateway\Request\RepayAmountCurrencyDataBuilder</item>
                <item name="merchantId" xsi:type="string">PayU\PaymentGateway\Gateway\Request\RepayMerchantIdDataBuilder</item>
                <item name="payMethods" xsi:type="string">PayU\PaymentGateway\Gateway\Request\RepayPayMethodsDataBuilder</item>
                <item name="buyer" xsi:type="string">PayU\PaymentGateway\Gateway\Request\RepayBuyerDataBuilder</item>
                <item name="products" xsi:type="string">PayU\PaymentGateway\Gateway\Request\RepayProductsDataBuilder</item>
                <item name="threeDsAuthentication" xsi:type="string">PayU\PaymentGateway\Gateway\Request\RepayThreeDsAuthenticationDataBuilder</item>
                <item name="clientConfig" xsi:type="string">PayU\PaymentGateway\Gateway\Request\RepayClientConfigDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="PayU\PaymentGateway\Model\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="PayU\PaymentGateway\Model\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">payULogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">PayU\PaymentGateway\Model\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <type name="PayU\PaymentGateway\Model\RepayOrderResolver">
        <arguments>
            <argument name="commandPool" xsi:type="object">PayUPaymentGatewayCommandPool</argument>
        </arguments>
    </type>

    <type name="PayU\PaymentGateway\Model\RepayOrderCardResolver">
        <arguments>
            <argument name="commandPool" xsi:type="object">PayUPaymentGatewayCardCommandPool</argument>
        </arguments>
    </type>

</config>
