<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Sales\Controller\AbstractController\OrderViewAuthorizationInterface" type="PayU\PaymentGateway\Controller\Order\OrderViewAuthorizationForGuest" />
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="payu_gateway_config_provider" xsi:type="object">PayU\PaymentGateway\Model\Ui\ConfigProvider</item>
                <item name="payu_gateway_card_config_provider" xsi:type="object">PayU\PaymentGateway\Model\Ui\CardConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="payu_credit_widget_append_product_details"
                type="PayU\PaymentGateway\Plugin\Catalog\Block\Product\ListProductPlugin" />
    </type>

    <type name="Magento\CatalogWidget\Block\Product\ProductsList">
        <plugin name="payu_credit_widget_below_widget_price"
                type="PayU\PaymentGateway\Plugin\CatalogWidget\Block\Product\ProductsListPlugin" />
    </type>
</config>
