<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="payu_section" translate="label" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayU</label>
                <comment><![CDATA[If you do not already have PayU merchant account, <a href="https://secure.payu.com/boarding/?pk_campaign=Plugin&pk_kwd=Magento2#/form" target="_blank">please register in Production</a> or <a href="https://secure.snd.payu.com/boarding/?pk_campaign=Plugin&pk_kwd=Magento2#/form" target="_blank">please register in Sandbox</a>]]></comment>
                <fieldset_css>complex payu-section</fieldset_css>
                <frontend_model>PayU\PaymentGateway\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>
                <group id="payu_common" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API parameters</label>
                    <group id="pos_parameters" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>POS parameters</label>
                        <field id="pos_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>POS ID (pos_id)</label>
                            <config_path>payment/payu/pos_id</config_path>
                        </field>
                        <field id="second_key" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Second key (MD5)</label>
                            <config_path>payment/payu/second_key</config_path>
                        </field>
                        <field id="client_id" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>OAuth protocol - client_id</label>
                            <config_path>payment/payu/client_id</config_path>
                        </field>
                        <field id="client_secret" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>OAuth protocol - client_secret</label>
                            <config_path>payment/payu/client_secret</config_path>
                        </field>
                    </group>
                    <group id="sandbox_pos_parameters" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>POS parameters - Sandbox mode</label>
                        <field id="sandbox_pos_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>POS ID (pos_id)</label>
                            <config_path>payment/payu/sandbox_pos_id</config_path>
                        </field>
                        <field id="sandbox_second_key" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Second key (MD5)</label>
                            <config_path>payment/payu/sandbox_second_key</config_path>
                        </field>
                        <field id="sandbox_client_id" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>OAuth protocol - client_id</label>
                            <config_path>payment/payu/sandbox_client_id</config_path>
                        </field>
                        <field id="sandbox_client_secret" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>OAuth protocol - client_secret</label>
                            <config_path>payment/payu/sandbox_client_secret</config_path>
                        </field>
                    </group>
                </group>
                <group id="payu_gateway" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>PayU Payment</label>
                    <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable plugin?</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/payu_gateway/active</config_path>
                    </field>
                    <field id="environment" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sandbox mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/payu_gateway/environment</config_path>
                    </field>
                    <field id="payment_methods_order" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment Methods Order</label>
                        <comment><![CDATA[Enter payment methods values separated by comma. <a href="http://developers.payu.com/pl/overview.html#paymethods" target="_blank">List of payment methods</a>]]></comment>
                        <config_path>payment/payu_gateway/payment_methods_order</config_path>
                    </field>
                <field id="repayment" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable repayment?</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[Automatic collection on the POS should be disabled. <a href="https://github.com/PayU/plugin_magento_2#ponowienie-płatności" target="_blank">More information</a>]]></comment>
                        <config_path>payment/payu_gateway/repayment</config_path>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sort Order</label>
                        <frontend_class>validate-number</frontend_class>
                        <config_path>payment/payu_gateway/sort_order</config_path>
                    </field>
                </group>
                <group id="payu_gateway_card" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>PayU - Cards</label>
                    <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable plugin?</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/payu_gateway_card/active</config_path>
                    </field>
                    <field id="environment" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sandbox mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/payu_gateway_card/environment</config_path>
                    </field>
                    <field id="store_card" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable store card?</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[Additional configuration in PayU is needed. <a href="https://github.com/PayU/plugin_magento_2#zapisywanie-kart" target="_blank">More information</a>]]></comment>
                        <config_path>payment/payu_gateway_card/store_card</config_path>
                    </field>
                    <field id="repayment" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable repayment?</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment><![CDATA[Automatic collection on the POS should be disabled. <a href="https://github.com/PayU/plugin_magento_2#ponowienie-płatności" target="_blank">More information</a>]]></comment>
                        <config_path>payment/payu_gateway_card/repayment</config_path>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sort Order</label>
                        <frontend_class>validate-number</frontend_class>
                        <config_path>payment/payu_gateway_card/sort_order</config_path>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
